<div class="modal-new-user">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Gimme an Alias</h3>
    </div>
    <div class="modal-form-box">
        <form class="modal-form" ng-submit="userModal.setCurrentUser()">
            <div class="status-bar">{{userModal.statusBar}}</div>
            <input type="text" class="room-input" value="" ng-model="userModal.username"><br>
            <input type="submit" class="modal-button create" value="Create User">
        </form>
    </div>
</div>